form {
    height: 10%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
}

input {
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(202, 100, 10);
    border:none;
}

input:hover{
    transition: 350ms;
    background-color: #282c34;
    color: rgb(202, 100, 10);
    border: solid 1px rgb(202,100,10);
}

input:focus{
    background-color: #282c34;
    color: rgb(202, 100, 10);
    /* border-color: rgb(202,100, 10);
    border: solid 4px rgb(255, 192, 5); */
}

button {
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(202, 100, 10);
    border: none;
}

button:hover{
    transition: 350ms;
    background-color: #282c34;
    color: rgb(202, 100, 10);
    border: solid 1px rgb(202,100,10);
}