.list-container {
    /* background-color: red; */
    height: 6%;
    width: 80%;
    /* padding-top: 5%; */
    border: solid 1px rgb(202,100,10);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.list-container li {
    /* border: solid 1px; */
}

.delete-button {
    color: white;
    position: relative;
    right: 0%;
}