.list-container {
    /* background-color: red; */
    height: 10%;
    width: 80%;
    border: solid 1px rgb(202,100,10);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    margin-bottom: 1%;
}

.list-container li {
    /* border: solid 1px; */
    color: rgb(202,100,10);
    font-size: 1em;
    font-weight: 800;
}

.task-and-checkbox{
    height: 100%;
    width: 80%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* background-color: blue; */
    }
  
  .text-todo{
    padding-left: 10%;
    width: 100%;
    max-height: 2%;
    height: 2%;
    /* background-color: red; */
  }
.delete-button {
    color: white;
    /* position: fixed;
    right: 22%; */
    padding: 12px;
    height: 8px!important;
    width: 8px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="checkbox"] {
    appearance: none;
    background: white;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  
  input[type="checkbox"]:checked {
    background: rgb(200,100,10);
    transition: 500ms;
  }
  
/* 
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  } */
  